// 滚动轴的样式
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccc;

}
::-webkit-scrollbar-thumb:active {
  background: #ccc;

}

@import './mixin.scss';
@import './variables.scss';
@import './element-ui.scss';
@import './text.scss';