.ThemeColor{
  color: #39D7DA;
}
.ThemeColorOne{
  color: #F0C042;
}
.ThemeColorTou{
  color: #C3B598;
}
.ThemeColorThree{
  color: #97AEC0;
}
.ThemeColorFour{
  color: #59DECB;
}
.ThemeColorFive{
  color: #F8F956;
}
.ThemeColorSix{
  color: #FAFFD6;
}
.headCenterTous{
  color: #35A5EC;
}

